<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>단어 시험</title>
</head>

<body>
    {% if quiz_words %}
    <h2>{{ next_word.english_word }}</h2>
    <form method="post" action="{% url 'quiz' %}">
        {% csrf_token %}
        <label for="user_answer">한국어 답변:</label>
        <input type="text" name="user_answer" required>
        <input type="hidden" name="correct_answer" value="{{ next_word.korean_word }}">
        <button type="submit">보내기</button>
    </form>
    <p>현재 퀴즈 수: {{ quiz_count }}</p>
    {% else %}
    <p>퀴즈가 없습니다.</p>
    {% endif %}
</body>

</html>